.tittle {
  text-align: center;
  color: black; }

a, a:visited {
  color: blue; }

.link_black {
  color: black;
  text-decoration: none; }

.table {
  border-collapse: collapse;
  width: 100%; }

td, th {
  width: inherit;
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd; }

.title_column {
  text-align: left; }

.tr_problem:hover {
  background-color: #ddd; }

.id_column, .title_column, .button_column, .answer_column {
  width: 25%; }

.button, .button--state-hidden, .button--state-show, .button--state-running {
  background-color: white;
  border-radius: 8px;
  padding: 6px 18px;
  text-align: center;
  margin: 4px 2px; }

.button--state-hidden {
  color: red; }

.button--state-show {
  color: black; }

.button--state-running {
  color: gold; }
