
.table {
  border-collapse: collapse;
  width: 100%
}

.table_title{
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
}

.tr_problem:hover{
  background-color: #ddd;
}

.id_column, .title_column, .button_column, .answer_column{
  width: inherit;
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  width: 25%
}

.title_column{
  text-align: left;
  padding: 0px 0px 0px 50px;
}

.link{
  text-decoration: none;

  &--type-problem{
    color: #00f;
  }
  &--type-black{
    color: #000;
  }
}

.button{
  background-color: #fff;
  border-radius: 8px;
  padding: 6px 18px;
  text-align: center;
  margin: 4px 2px;

  &--state-hidden {
    color: #f00;
  }
  &--state-show{
    color: #000;
  }
  &--state-running{
    color: #ffd700;
  }
}

.result{

  &--state-show{
    visibility: visible;
  }
  &--state-hidden{
    visibility: hidden;
  }
}
