
.tittle{
  text-align: center;
  color: black;
}

.table {
  border-collapse: collapse;
  width: 100%
}

.td, .th{
  width: inherit;
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.tr_problem:hover{
  background-color: #ddd;
}

.id_column, .title_column, .button_column, .answer_column{
  @extend .td;
  width: 25%
}

.link_problem, .link_problem:visited{
  text-decoration: none;
  color: blue;
  target: _blank;
}

.link_black{
  color: black;
  text-decoration: none;
}


.button{
  background-color: white;
  border-radius: 8px;
  padding: 6px 18px;
  text-align: center;
  margin: 4px 2px;
}

.button--state-hidden{
  @extend .button;
  color: red;
}

.button--state-show{
  @extend .button;
  color: black;
}

.button--state-running{
  @extend .button;
  color: gold;
}
